<!DOCTYPE html!>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="css/all.css">
</head>
<body class="natee">
<header class="header">
	<nav class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
		<a href="/" class="pure-menu-heading">NATEE</a>
		<ul>
			<li class="pure-menu-selected"><a href="">简介</a></li>
			<li><a href="">历程</a></li>
			<li><a href="">其它</a></li>
		</ul>
	</nav>
</header>
<div class="main">
	<div class="basic text-center">
		<div class="basic-box">
			<h1 class="head">想了解赵可吗？</h1>
			<p class="intro">他现在是一个前端，以后可能还会是前端，最终肯定不仅仅是前端。</p>
			<p>
				<button class="pure-button pure-button-primary">联系他</button>
			</p>
		</div>
	</div>
	<div class="detail">
		<div class="skill">
			<h2>他所掌握的技能</h2>
			<div class="pure-g">
				<div class="sikill-item pure-u-1-4">
					<h3>HTML(5)</h3>
					<p>它是什么不用多说了</p>
				</div>
				<div class="sikill-item pure-u-1-4">
					<h3>CSS(3)</h3>
					<p>它是什么不用多说了</p>
				</div>
				<div class="sikill-item pure-u-1-4">
					<h3>JAVASCRIPT</h3>
					<p>它是什么不用多说了</p>
				</div>
				<div class="sikill-item pure-u-1-4">
					<h3>JQUERY</h3>
					<p>它是什么不用多说了</p>
				</div>
			</div>
		</div>
		<div class="experence"></div>
		<div class="contact">
			<h2>您可以通过以下方式联系他</h2>
		</div>
	</div>
</div>
<footer class="footer text-center">
	在GITHUB上查看源代码，&copy; 2014 <a href="https://github.com/natee">natee</a> all rights reserved.
</footer>
</body>
</html>
