<!DOCTYPE html!>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>natee-github</title>
	<link rel="stylesheet" type="text/css" href="css/pure.css">
	<link rel="stylesheet" type="text/css" href="css/icons.css">
	<link rel="stylesheet" type="text/css" href="css/natee.css">
	<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
</head>
<body class="natee">
<header class="header">
	<nav class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
		<a href="/" class="pure-menu-heading">NATEE</a>
		<ul>
			<li class="pure-menu-selected"><a href="">INTRODUCE</a></li>
			<li><a href="">BLOG</a></li>
			<li><a href="http://natee.github.io/fe-space/" target="_blank">FRONTEND</a></li>
			<li><a href="">OTHER</a></li>
		</ul>
	</nav>
</header>
<div class="main">
	<div class="basic text-center">
		<div class="basic-box pure-u-4-5 pure-u-md-3-4 pure-u-lg-1-2">
			<h1 class="head blind-effect">对赵可感兴趣？↓↓↓</h1>
			<p class="intro">他现在是一个前端，以后可能还会是前端，最终肯定不仅仅是前端。</p>
			<p>
				<a class="pure-button pure-button-primary shine-white" href="javascript:scrollToContact();">联系他</a>
			</p>
		</div>
	</div>
	<div class="detail">
		<div class="skill">
			<h2 class="head text-center">赵可掌握的职业技能</h2>
			<div class="pure-g">
				<div class="skill-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<div class="img bounce-down">
						<img src="img/icon-html.jpg" alt="html(5)">
					</div>
					<h3>HTML(5)</h3>
					<p>知道语义性的含义，熟练手写符合w3c标准的HTML页面。对于HTML5的一些地理位置、Localstorage、Web SQL停留在个人练习中。</p>
				</div>
				<div class="skill-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<div class="img flip-in">
						<img src="img/icon-css.jpg" alt="css(3)">
					</div>
					<h3>CSS(3)</h3>
					<p>熟练使用CSS对网页进行（自适应）布局，了解不同浏览器的兼容性。对于CSS3中常用的效果基本会用，用过一些CSS框架，如grid.css，reset.css，pure.css等对于CSS3动画、高级效果处于要用则学，不用则研究的状态。</p>
				</div>
				<div class="skill-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<div class="img bounce-down">
						<img src="img/icon-js.jpg" alt="Javascript">
					</div>
					<h3>Javascript</h3>
					<p>FE必备技能之一，然而他对JS的掌握只能算是菜鸟能用的程度。对于代码的合理的组织、优雅的写法，他一直都在学习。他的目标是在这项技能上有所突破，追求这方面的进步，打破瓶颈。</p>
				</div>
				<div class="skill-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<div class="img fade-in-right">
						<img src="img/icon-jquery.jpg" alt="jQuery">
					</div>
					<h3>jQuery</h3>
					<p>JS的一个类库，基本上可以熟练使用。</p>
				</div>
				<div class="skill-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<div class="img bounce-down">
						<img src="img/icon-angular.jpg" alt="AngularJS">
					</div>
					<h3>AngularJS</h3>
					<p>很火的前端MVC框架，能够用AG写网站，由于只用了几个月，也只能是熟悉基本用法，具体遇到没遇到过的问题还得查API。</p>
				</div>
				<div class="skill-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<div class="img">
						<img src="img/icon-nodejs.jpg" alt="NodeJS">
					</div>
					<h3>NodeJS</h3>
					<p>学习过一段时间，对于这个东西停留在基本的操作上，写过个人小博客作为练习。对于NodeJS的优势没有过具体的应用，其更新略快，也无力持续学习。</p>
				</div>
				<div class="skill-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<div class="img bounce-down">
						<img src="img/icon-bootstrap.jpg" alt="bootstrap">
					</div>
					<h3>BootStrap</h3>
					<p>很强大的一个前端框架，自适应布局，各种组件等。熟练使用v2和v3版本。</p>
				</div>
				<div class="skill-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<div class="img bounce-down">
						<img src="img/icon-gulp.png" alt="gulp">
					</div>
					<h3>Gulp</h3>
					<p>前端领域的构建工具（任务管理工具），隐隐有超过Grunt的意思。这项技术对于重复性的劳动可谓是雪中送炭，熟练使用创建基本任务。</p>
				</div>
				<div class="skill-item pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
					<div class="img bounce-down">
						<img src="img/icon-less.jpg" alt="less">
					</div>
					<h3>Less</h3>
					<p>把CSS赋予动态语言特性，可以写更少的代码达到效果。</p>
				</div>
			</div>
		</div>
		<div class="experence">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-2-5 pure-u-lg-2-5">
					<img width="300" src="img/file-icons.png">
				</div>
				<div class="pure-u-1 pure-u-md-3-5 pure-u-lg-3-5">
					<h2 class="head">2013-10&nbsp;至&nbsp;今</h2>
		            <p class="content">
		                就职于海智网聚网络技术（北京）有限公司。
		            </p>
		            <h2 class="head">2013-06&nbsp;至&nbsp;2013-10</h2>
		            <p class="content">
		                就职于北京艾德思奇科技有限公司。
		            </p>
		            <h2 class="head">2013-10&nbsp;至&nbsp;今</h2>
		            <p class="content">
		                就职于海智网聚网络技术（北京）有限公司。就职于海智网聚网络技术（北京）有限公司。就职于海智网聚网络技术（北京）有限公司。就职于海智网聚网络技术（北京）有限公司。就职于海智网聚网络技术（北京）有限公司。就职于海智网聚网络技术（北京）有限公司。就职于海智网聚网络技术（北京）有限公司。就职于海智网聚网络技术（北京）有限公司。
		            </p>
				</div>
			</div>
		</div>
		<div class="contact" id="contact">
			<h2 class="head text-center">您可以通过以下方式联系他</h2>
			<ul>
				<li>
					<p><span class="icon-mail6"></span><i>kerncink@gmail.com</i></p>
				</li>
				<li>
					<p><span class="icon-mobile"></span><i>13263330627</i></p>
				</li>
				<li>
					<p><span class="icon-github"></span><i>@natee</i></p>
				</li>
				<li>
					<p><span>Other:</span><i>Secret</i></p>
				</li>
			</ul>
		</div>
		<footer class="footer text-center">
			在GITHUB上查看源代码，&copy; 2014 <a href="https://github.com/natee">natee</a> all rights reserved.
		</footer>
	</div>
</div>
<script type="text/javascript">
	function scrollToContact(){
		$("html,body").animate({scrollTop:$("#contact").offset().top},1000);
	}
	$(function(){
		
	})
</script>

</body>
</html>
